@model StudentRegistrationBureauMVC.Models.Shared.PagerVM

@{
    string controller = this.ViewContext.RouteData.Values["controller"]!.ToString()!;
    string action = this.ViewContext.RouteData.Values["action"]!.ToString()!;
    int? facultyId = (int?)ViewData["FacultyId"];
    int? majorId = (int?)ViewData["MajorId"];
    string? facultyNumber = (string?)ViewData["FacultyNumber"];
    string redirectUrl = $"/{controller}/{action}?" +
    ((facultyId.HasValue && facultyId != 0) ? $"&Filter.FacultyId={facultyId}" : "") +
    ((majorId.HasValue && majorId != 0) ? $"&Filter.MajorId={majorId}" : "") +
    (string.IsNullOrEmpty(facultyNumber) == false ? $"&Filter.FacultyNumber={facultyNumber}" : "");
}

<div class="w-100 mb-2">
    <span class="d-inline-block mr-3 lead">Items per page: </span>
    <select id="dropDownListItemsPerPage" class="form-control d-inline-block w-auto text-right"
            onchange="dropDownListItemsPerPage_OnChange()">
        <!option @(Model.ItemsPerPage == 10 ? "selected" : "") value="10">10</!option>
        <!option @(Model.ItemsPerPage == 20 ? "selected" : "") value="20">20</!option>
        <!option @(Model.ItemsPerPage == 50 ? "selected" : "") value="50">50</!option>
    </select>
</div>

<div class="w-100">
    <p class="d-inline-block mr-3 lead">Pages: </p>
    <ul class="pagination d-inline-flex flex-wrap">
        @for (var i = 1; i <= Model.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Page ? "active" : "")">
                <a href="@(redirectUrl + $"&Pager.Page={i}&Pager.ItemsPerPage={Model.ItemsPerPage}")"
                   class="page-link">@i</a>
            </li>
        }
    </ul>
</div>

<script>
    function dropDownListItemsPerPage_OnChange() {
        const pagingList = document.getElementById("dropDownListItemsPerPage");
        const itemsPerPage = pagingList[pagingList.selectedIndex].value;
        window.location.href = `@(Html.Raw(redirectUrl))&Pager.Page=1&Pager.ItemsPerPage=${itemsPerPage}`;
    }
</script>