@model StudentRegistrationBureauMVC.Models.IndexVMs.StudentIndexVM

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<hr />

@{
    await Html.RenderPartialAsync("/Views/Partial/PagerPartial.cshtml", Model.Pager);
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((StudentVM s) => s.FullName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((StudentVM s) => s.FacultyNumber)
            </th>
            <th>
                @Html.DisplayNameForInnerType((StudentVM s) => s.FacultyId)
            </th>
            <th>
                @Html.DisplayNameForInnerType((StudentVM s) => s.MajorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major!.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
