@model StudentRegistrationBureauMVC.Models.IndexVMs.CourseIndexVM

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<hr />

@{
    await Html.RenderPartialAsync("/Views/Partial/PagerPartial.cshtml", Model.Pager);
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((CourseVM c) => c.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
