@model StudentRegistrationBureauMVC.Models.EnrollmentVM

@{
    ViewData["Title"] = "Enrollment Details";
}

<div>
    <h4>Enrollment Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FacultyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FacultyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Grade != null)
            {
                @Html.DisplayFor(model => model.Grade)
            }
            else
            {
                @Html.Raw("Not Graded")
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
