@model StudentRegistrationBureauMVC.Models.IndexVMs.EnrollmentIndexVM

@{
    ViewData["Title"] = "Enrollments";
}

@{
    ViewData["Course"] = Model.Filter.Course;
    ViewData["FacultyNumber"] = Model.Filter.FacultyNumber;
}

<h1>Enrollments</h1>

<hr />

<div class="mb-2">
    <h4>Filtering options</h4>
    <form method="get" class="d-inline-block mb-1">
        <input type="hidden" name="Pager.ItemsPerPage" value="@Model.Pager.ItemsPerPage" />
        <div class="form-group">
            <label asp-for="Filter.Course" class="control-label"></label>
            <select asp-for="Filter.Course" class="form-control" asp-items="ViewBag.Courses"></select>
        </div>
        <div class="form-group">
            <label asp-for="Filter.FacultyNumber" class="control-label"></label>
            <input asp-for="Filter.FacultyNumber" class="form-control" value="@Model.Filter.FacultyNumber" />
        </div>
        <div class="form-group d-flex gap-5">
            <input type="submit" class="btn btn-primary" value="Filter" />
            <a asp-action="Index" asp-route-Pager.ItemsPerPage="@Model.Pager.ItemsPerPage">
                <!button type="button" class="btn btn-light border-dark">Clear filter</!button>
            </a>
        </div>
    </form>
</div>

@{
    var partialHtml = await Html.PartialAsync("/Views/Partial/EnrollmentPagerPartial.cshtml", Model.Pager, ViewData);
    @partialHtml
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((EnrollmentVM enrollment) => enrollment.FacultyNumber)
            </th>
            <th>
                @Html.DisplayNameForInnerType((EnrollmentVM enrollment) => enrollment.StudentFullName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((EnrollmentVM enrollment) => enrollment.CourseName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((EnrollmentVM enrollment) => enrollment.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enrollments!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student!.FacultyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course!.Name)
                </td>
                <td>
                    @if (item.Grade != null)
                    {
                        @Html.DisplayFor(modelItem => item.Grade)
                    }
                    else
                    {
                        @Html.Raw("Not Graded")
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>